# Dependencies directory
node_modules

# Next
.next
.vercel
out

# next-pwa
public/robots.txt
public/sitemap*.xml

# ESLint
.eslintcache

# Coverage
coverage

# Environment vars
.env
.env.*
.lighthouseci
lhci-reports/

# ts
*.tsbuildinfo

# Others
/dist
.swc
.vscode/
.idea/
.DS_Store
*.pem
