@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles here */
html {
  scroll-behavior: smooth;
}

/* Text Gradient Animation */
.gradient-text {
  background: linear-gradient(
    to right,
    #2563eb,  /* blue-600 */
    #a855f7   /* purple-600 */
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-x 3s ease infinite;
}

/* Keyframes for Gradient Animation */
@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Custom BoxShadow */
.boxshadow {
  box-shadow: 0 8px 60px 0 rgba(12,40,70,0.11), 0 12px 90px 0 rgba(12,40,70,0.11);
}

/* Buttons */
@layer components {
  .main-btn {
    @apply inline-flex items-center font-medium px-8 py-3 rounded-lg transition-all duration-300
    bg-gradient-to-r from-blue-600 to-purple-600 hover:from-blue-700 hover:to-purple-700 
    text-white dark:text-white  
    shadow-lg hover:shadow-xl 
    hover:scale-105;
  };
  .sec-btn {
    @apply inline-flex items-center font-medium px-8 py-3 rounded-lg transition-all duration-300
    bg-gray-50 dark:bg-gray-800 dark:text-gray-400 border-2 
    border-gray-300 dark:border-gray-600 hover:border-blue-500 dark:hover:border-blue-400 
    hover:scale-105
  };


  .clamptext {
    @apply text-[1.25rem] md:text-[1.75rem] lg:text-[2rem] xl:text-[2.25rem]
          leading-relaxed text-gray-800 dark:text-gray-200
  }
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* light mode */
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #fb923c, #38bdf8);
}

/* dark mode */
html.dark ::-webkit-scrollbar-track {
  background: rgb(17 24 39);
}
html.dark ::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #d946ef, #0284c7);
}